<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model.Model_Image_Ass.csdl|res://*/Model.Model_Image_Ass.ssdl|res://*/Model.Model_Image_Ass.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-RCQ0TGDA;initial catalog=07_Assignement_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Entities1" connectionString="metadata=res://*/Model.Model_ImageAdd.csdl|res://*/Model.Model_ImageAdd.ssdl|res://*/Model.Model_ImageAdd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-RCQ0TGDA;initial catalog=07_Assignement_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Entities2" connectionString="metadata=res://*/Model.Model_ImageData.csdl|res://*/Model.Model_ImageData.ssdl|res://*/Model.Model_ImageData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-RCQ0TGDA;initial catalog=07_Assignement_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AssignmentSevenEntities" connectionString="metadata=res://*/Model.ModelImageData.csdl|res://*/Model.ModelImageData.ssdl|res://*/Model.ModelImageData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-RCQ0TGDA;initial catalog=AssignmentSeven;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Image_Assignment.Properties.Settings.AssignmentSevenConnectionString"
      connectionString="Data Source=LAPTOP-RCQ0TGDA;Initial Catalog=AssignmentSeven;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>