<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Software_Technology_Company_Mgt_System.Properties.Settings.Software_Technologies_PVT_LTDConnectionString"
            connectionString="Data Source=LAPTOP-RCQ0TGDA;Initial Catalog=Software_Technologies_PVT_LTD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>