<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SGM_Mgt_System.Properties.Settings.SGM_Students_Detelis_dbConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SGM_Students_Detelis_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>